.Main-slider-detail .main-slider img {
    width: 100%;
    height: auto;
    /* object-fit: cover; */
    border-radius: 10px;
}

.Main-slider-detail .main-slider {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--primary-color);

}

.Main-slider-detail .swiper-button-prev,
.Main-slider-detail .swiper-button-next {
    color: white !important;
    font-weight: 600;
}

.Main-slider-detail .thumb-slider {
    border: 2px solid var(--primary-color);
    padding: 4px;
    border-radius: 10px;
}

.Main-slider-detail .thumb-slider .swiper-slide {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.Main-slider-detail .thumb-slider .swiper-slide-thumb-active {
    opacity: 1;
    background-color: var(--primary-color);
    border-radius: 8px;
}

.Main-slider-detail .thumb-img {
    width: 100%;
    height: 80px;
    /* Adjust thumbnail height */
    object-fit: cover;
    border-radius: 5px;
}

.btn-outline-primary {
    border-color: var(--primary-color) !important;
    color: #00aaff !important;
}

.btn-outline-primary:hover {
    background-color: var(--primary-color) !important;
    color: white !important;
}


/* Background Overlay */
.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.208);
    /* Dark semi-transparent overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}

/* Modal Box */
.custom-modal {
    background: white;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(-20px);
    animation: slideDown 0.3s forwards;
}

/* Fade-in Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Slide Down Animation */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}